[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]
[language-server.harper-ls.config.harper-ls.linters]
# TODO: add more rules -> https://writewithharper.com/docs/rules
spaces = false
OrthographicConsistency = false
CompoundNouns = false
[language-server.harper-ls.config.harper-ls]
diagnosticSeverity = "warning"
# --- markdown ----
# XCode latest required, no can do on Ventura, needs Sequoia
[[language]]
name = "markdown"
language-servers = [ "harper-ls" ]

# --- Rust ----
[[language]]
name = "rust"
auto-format = true
formatter = { command = "rustfmt" }
# comment-tokens = ["//", "///"] doesn't work as expected
roots = [
  "Cargo.toml",
  "Cargo.lock"
]

[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.rust-analyzer.config]
inlayHints.bindingModeHints.enable = false
inlayHints.closingBraceHints.minLines = 10
inlayHints.closureReturnTypeHints.enable = "with_block"
inlayHints.discriminantHints.enable = "fieldless"
inlayHints.lifetimeElisionHints.enable = "skip_trivial"
inlayHints.typeHints.hideClosureInitialization = false
